@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Fundo padrão roxo */
body {
  background: linear-gradient(to bottom, #4c1d95, #7e22ce, #4c1d95);
  color: white;
}
